@charset "UTF-8";
header {
    border-bottom : 1px solid #ddd;
}
header > div {
    width : 90%;
    min-width: 800px;
    max-width: 1000px;
    height : 80px;
    margin : 0 auto;
}
header .logo {
 float : left;
 margin-top : 10px;
}
header .logo img {
    height : 60px;
}
header .menu {
    float : right;
}
header .menu li {
    display : inline-block;
    /* pading 삭제 시 마진 값 10씩 늘려줄 것 */
	margin-left : 20px;
    margin-top : 18px; 
    padding : 10px;
}
header .menu li:first-child {
    margin-left : 0;
}

li:hover {
	background: #000;
	color : #fff;
	transition : 0.3s ease-in-out;
}
